.bg {

  background-color: #0ff2b9;
  height: 100vh;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footerStyle {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
}

.googleLogoStyle {
  height: 75px;
  width: 75px;
}

.error {
  color: red;
}
.isVisible {
  visibility: hidden;
}